:root {
	--hero--h1-large-taille: 32px;
	--hero--h1-large-taille-desk: 72px;
	--hero--h1-large-color: #36536b;
	--main-color-white: #fbfcfe;
	--color-font-p: #6c8294;

	--h2-partnaire-font-size: 48px;
	--h3-functions-font-size: 36px;

	--box-shadow-input: 6px 5px 2px 0px rgba(0, 0, 0, 0.3);
	--background-color-article: #36536b;
}

.phone-hero {
	position: relative;
	z-index: 1;
	top: 50px;
	margin: auto;
	size: 50%;
}

input {
	box-shadow: var(--box-shadow-input);
	border: none;
	padding: 13px;
	border-radius: 24px;
	font-family: var(--font-family-red-hat);
	font-weight: var(--typography-a-weight);
	width: 80%;
	margin-top: 20px;
}

h1 {
	font-family: var(--font-family);
	color: var(--hero--h1-large-color);
	font-size: var(--hero--h1-large-taille);
	text-align: center;
}

p {
	font-family: var(--font-family-red-hat);
}

.hero-input-button {
	display: flex;
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

section {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

a:link {
	text-decoration: none;
}

.contact-link {
	color: var(--color-secondary-light-san-juan-blue);
}

.a-contact {
	color: var(--color-secondary-light-san-juan-blue);
	font-weight: var(--typography-a-weight);
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--background-color-article);
	margin-top: 50px;
	padding-bottom: 70px;
	height: 100vh;
}

.a-button-form {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sec2-1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 40px;
	padding: 20px;
	padding-top: 100px;
	padding-bottom: 100px;
	margin: auto;
	justify-items: center;
}

.sec2-2 {
	text-align: center;
	color: var(--main-color-white);
}

.sec2-2 h2 {
	font-size: var(--hero--h1-large-taille);
	font-weight: 400;
	font-family: var(--font-family);
}

.sec2-2 p {
	padding: 20px;
	font-family: var(--font-family-red-hat);
}

.btn-partnaires {
	margin-top: 30px;
}

.sec3 {
	text-align: center;
	margin: 20px;
}

.sec3-2 img {
	margin: auto;
}

.sec3 h3 {
	font-size: var(--h3-functions-font-size);
	color: var(--hero--h1-large-color);
	font-family: var(--font-family);
}

.sec3 p {
	margin-top: 10px;
	font-size: 13px;
}

.sec3 p {
	color: var(--color-font-p);
}

.sec4 {
	margin: 20px;
}

.sec4-1 {
	margin-top: 50px;
	text-align: center;
	font-family: var(--font-family-red-hat);
}

.sec4-1 h3 {
	color: var(--hero--h1-large-color);
}

.sec4-1 p {
	color: var(--color-font-p);
}

.img-sec4-1 {
	margin: auto;
}

.sec5 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.form {
	text-align: center;
}

.ready-h2 {
	font-family: var(--font-family);
	color: var(--hero--h1-large-color);
	font-size: var(--hero--h1-large-taille);
}

@media screen and (min-width: 767px) {
	h1 {
		font-size: var(--typography-heading-h1-tablet);
	}

	.hero-input-button input {
		position: relative;
	}

	.btn-hero {
		position: absolute;
		bottom: 158px;
		width: 20%;
		right: 150px;
	}

	input {
		width: 60%;
	}

	.sec2-1 {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.sec2-2 {
		justify-content: center;
		align-items: center;
		width: 50%;
	}

	.sec-2-2 h2 {
		font-size: var(--h2-partnaire-font-size);
	}

	.btn-partnaires {
		width: 20%;
	}

	.sec4 {
		display: flex;
		flex-direction: row;
	}

	footer {
		flex-direction: row;
		justify-content: space-between;
	}

	.logo-footer-payapi {
		margin: 0;
	}
}

@media screen and (min-width: 1024px) {
	.sec1 {
		display: flex;
		flex-direction: row-reverse;
	}

	.hero-input-button input {
		position: relative;
	}

	.btn-hero {
		position: absolute;
		bottom: 170px;
		width: 20%;
		right: 500px;
	}

	.phone-hero {
		width: 500px;
	}

	.sec1-1 {
		width: 50%;
		margin-top: 20%;
		text-align: start;
		margin-left: 10%;
	}

	h1 {
		text-align: start;
		margin: 0;
		font-size: var(--hero--h1-large-taille-desk);
	}

	.hero-input-button {
		display: block;
	}

	article {
		flex-direction: row-reverse;
	}

	.sec2-2 {
		margin-left: 100px;
		text-align: start;
		width: 50%;
	}

	.sec2-2 p {
		padding: 0;
	}

	.sec3 {
		padding: 50px;
	}

	.sec3-1 {
		display: flex;
		flex-direction: row;
	}

	.sec3-2-txt {
		text-align: start;
		width: 50%;
		margin-top: 20vh;
	}

	.sec3-1-txt {
		text-align: start;
		width: 50%;
		margin-top: 10vh;
	}

	.sec3-2 {
		display: flex;
		flex-direction: row-reverse;
	}

	.phone-img-sec3 {
		width: 50%;
	}
}
