:root {
	--button-primary-normal-state: #ba4270;
	--button-primary-hover-state: #da6d97;
	--button-primary-disable-state: #dda1b8;

	--button-primary-nomal-state-txt-color: #ffffff;
	--button-primary-nomal-state-border: none;
	--button-primary-nomal-state-border-radius: 24px;
	--button-primary-nomal-state-padding: 13px;

	--button-secondary-disable-state-light-border: #1b262f;
	--button-secondary-hover-state-light-bodys: #ffffff;
	--button-secondary-disable-state-light-border: #8b9197;

	--button-secondary-disable-state-dark-border: #ffffff;
	--button-secondary-hover-state-dark-body: #36536b;
	--button-secondary-disable-state-dark-border: #9ba9b5;

	--button-partenair-border-color: solid #fbfcfe 1px;
	--button-partenair-txt-color: #fbfcfe;
	--button-partenair-body: #36536b;
	--button-partenair-padding: 15px;
	--button-partenair-radius: 24px;
	--button-partenair-font-weight: 700;

	--button-price-border-color: solid #36536b 1px;
	--button-price-txt-color: #36536b;
	--button-price-body: #edf3f8;
	--button-price-padding: 15px;
	--button-price-radius: 24px;
	--button-price-font-weight: 700;
}

.btn-primary-light {
	display: block;
	color: var(--button-primary-nomal-state-txt-color);
	border: var(--button-primary-nomal-state-border);
	background-color: var(--button-primary-normal-state);
	border-radius: var(--button-primary-nomal-state-border-radius);
	padding: var(--button-primary-nomal-state-padding);
}

.btn-hero {
	display: block;
	color: var(--button-primary-nomal-state-txt-color);
	border: var(--button-primary-nomal-state-border);
	background-color: var(--button-primary-normal-state);
	border-radius: var(--button-primary-nomal-state-border-radius);
	padding: var(--button-primary-nomal-state-padding);
	font-family: var(--font-family-red-hat);
	font-weight: var(--typography-a-weight);
	width: 80%;
}

.btn-partnaires {
	padding: var(--button-partenair-padding);
	border: var(--button-partenair-border-color);
	background-color: var(--button-partenair-body);
	border-radius: var(--button-partenair-radius);
	color: var(--button-partenair-txt-color);
	font-family: var(--font-family-red-hat);
	width: 40%;
	font-weight: var(--button-partenair-font-weight);
}

.btn-request-price {
	padding: var(--button-price-padding);
	border: var(--button-price-border-color);
	background-color: var(--button-price-body);
	border-radius: var(--button-price-radius);
	color: var(--button-price-txt-color);
	font-family: var(--font-family-red-hat);
	width: 40%;
	font-weight: var(--button-price-font-weight);
}

.btn-request-price:hover {
	background-color: var(--button-partenair-body);
	color: var(--button-price-body);
}
